@charset "utf-8";

//*------------------*
//*  変数管理
//*------------------*

//color
$color-base: #444;
$color-accent: #21A937;

//font-family
$font-family: 'Noto Sans JP', sans-serif;


//*------------------*
//*  レスポンシブ定義
//*------------------*

$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//*------------------*
//*  共通スタイル
//*------------------*

body {
    font-size: 1.6rem;
    line-height: 2.375;
    color: $color-base;
    font-family: $font-family;
}

.inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4%;
    @include mq('md') {
        padding: 0 2rem;
    }
}

.is-sm {
    @include mq('md') {
        display: none;
    }
}

.common__title {
    font-size: 2.4rem;
    font-weight: 700;
    display: inline;
    background: linear-gradient(transparent 70%, #99E5A5 30%);
}

//*------------------*
//*  header
//*------------------*

.header {
    background: #fff;
}

.header__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2.8rem 2rem;
    @include mq('md') {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 13rem;
    }
}

.header__right {
    text-align: center;
    margin-top: 1rem;
    @include mq('md') {
        margin-top: 0;
        text-align: right;
    }
}
 
.header__logo {
    img {
        width: 160px;
        @include mq('md') {
            width: 240px;
        }
        @include mq('lg') {
            width: 263px;
        }
    }
}

.header__info {
    p {
        font-size: 1.2rem;
        @include mq('md') {
            font-size: 1.4rem;
        }
    }
}

.common__cta {
    margin-top: 0.5rem;
    line-height: 1;
    img {
        width: 2.4rem;
        vertical-align: text-bottom;
    }
    span {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-accent;
        padding-left: 0.5rem;
    }
}

//*------------------*
//*  fv
//*------------------*
.fv {
    height: 947px;
    background: url(../images/fv.png) no-repeat center / cover;
}

.fv__container {
    width: 60%;
    margin: 0 auto;
    padding: 133px 0 250px 20px;

}

.fv__message {
    font-size: 2.8rem;
    font-weight: 700;
    writing-mode: vertical-rl;
}

.fv__message-inner {
    display: block;
    background: #fff;
    letter-spacing: .3em;
    padding: 3rem 3rem 6.5rem 3rem;
    margin-right: 8rem;
}

.fv__message-color {
    color: $color-accent;
}

//*------------------*
//*  about
//*------------------*
.about {
    background: #fff;
}

.about__container {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 7rem;
    margin: 0 auto;
    text-align: center;
    @include mq('lg') {
        flex-direction: row;
        text-align: left;
        padding: 16.2rem 0 8.2rem 3rem;
        justify-content: space-between;
    }
}

.about__read {
    padding-top: 2rem;
}

.about__read-title {
    line-height: 2.5;
}

.about__read-text {
    margin-top: 2rem;
    @include mq('xl') {
        margin-top: 3.7rem;
    }
}

.about__img {
    margin-top: 3.7rem;
    @include mq('lg') {
        margin-top: 0;
    }
    img {
        max-width: 690px;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

//*------------------*
//*  contents
//*------------------*
.contents {
    background: #F5FCF8;
}

.contents__container {
    padding: 78px 0 112px;
    text-align: center;
    >p {
        margin-top: 6rem;
    }
}

.contents__inner {

}

.contents__items {
    display: flex;
    flex-direction: column;
    margin-top: 3.4rem;
    @include mq('lg') {
        flex-direction: row;
    }

}

.contents__item {
    width: 100%;
    height: 590px;
    font-weight: 700;
    padding: 4rem 2.8rem;
    background: #FFF;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
    position: relative;
    margin: 0 3rem 2rem;
    @include mq('lg') {
        width: 33%;
        margin: 0 1rem;
    }
    h3 {
        text-align: center;
        font-size: 2.4rem;
    }
    p {
        text-align: left;
        span {
            display: inline-block;
        }
    }
    img {
        width: 18.7rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}


.news {
    background: #F5FCF8;
}
//*------------------*
//*  news
//*------------------*
.news__container {
    text-align: center;
    padding: 0 1rem 11.2rem 1rem;
}

.news__lists__container {
    background: #fff;
    margin-top: 7rem;
    padding: 2.6rem 5rem 2.6rem 6.6rem;
    border-radius: 30px;
    box-shadow: 0px 3px 6px #00000029;
}

.news__list {
    font-weight: 700;
    text-align: left;
    padding: 2rem 0;
    max-width: 1048px;
    border-bottom: 2px solid #E7E7E7;
    time {
        color: $color-accent;
        margin-right: 3rem;
    }
    .news__list__tag {
        display: inline-block;
        text-align: center;
        font-size: 1.2rem;
        color: #fff;
        padding: 0.4rem;
        width: 80px;
        margin-right: 2rem;
        background: $color-base;
    }
    .news__list__text {
    }
}

.news__list__link {
    display: block;
    font-weight: 700;
    padding-top: 3.4rem;
    padding-right: 16px;
    text-align: right;
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 10px;
        border-color: transparent transparent transparent #444;
        position: absolute;
        bottom: 11px;
        right: 0;
    }
}

//*------------------*
//*  footer
//*------------------*
.footer {
    background: #fff;
}

.footer__container {
    padding-top: 19.6rem;
    padding-bottom: 16.3rem;
}

.footer__contents {
    display: flex;
    flex-direction: column;
    @include mq('md') {
        flex-direction: row-reverse;
    }
}

tbody {
    padding-top: 2rem;
}

.footer__map {
    @include mq('md') {
        margin-right: 3.4rem;
    }
}

.footer__contents__logo {
    img {
        width: 263px;
    }
}

.footer__contents__address {
    margin-top: 2.5rem;
    padding-bottom: 2.8rem;
}

.footer__cta {
    margin-top: 2.5rem;
}

.footer__contents__info {
    border-top: 2px solid #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    width: 533px;
    font-size: 1.4rem;
}

.footer__contents__info__wrap {
    display: flex;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    h4 {
        padding-right: 2.8rem;
    }
    dt {
        padding-left: 2.3rem;
        font-weight: 400;
        border-left: 2px solid #E7E7E7;
    }
    dd {
        padding-left: 2.3rem;
    }
}

.info__time {
    display: flex;
}

.week {
    background: linear-gradient(transparent 70%, #99E5A5 30%);
}

.copy {
    margin-top: 2.15rem;
    font-size: 1.1rem;
    text-align: right;
}